.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.container {
  margin: 15px
}

.searchBar {
  border: 1px solid blue;
  margin: 2px;
  padding: 2px;
}

.filterableProductTbale {
  border: 1px solid yellow;
  padding: 2px;
}

.productTable {
  border: 1px solid greenyellow;
  margin: 2px;
  padding: 2px;
}

.productGategory {
  border: 1px solid turquoise;
  margin: 2px;
  padding: 2px;
}

.productRow {
  border: 1px solid red;
  margin: 2px;
  padding: 2px;
}